:root {
  --deep-green: #004B23;
  --light-green: #006400;
  --grey-one: #808080;
}

* {
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
}
p {
  font-size: 18px;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
body {
  margin: 0;
  background: #F8F8F8;
}
header {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.logo-img {
  width: 200px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}
